body {
    background-color: teal;
}
.calculator {
text-align: center;
}
.container {
    display: inline-block;
    border: 10px solid black;
    padding: 20px;
    background-color: orange;
}
table {
    margin: auto;

}
h1 {
    text-align: center;
    color: white;
    margin-top: 50px;
}
.screen {
    background-color: gray;
    border: solid black 5px;
    font-size: 40px;
    width: 100%;
    cursor: default;
    padding: 10px;
    margin: auto;
    margin-bottom: 10px;
    text-align: center;
    height: 90px;
    display: inline-block;
}
button {
    font-size: 80px;
    width: 105px;
    height: 105px;
    border-radius: 25px;
    background-color: bisque;
    cursor: pointer;
}
input {
    border-radius: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
button:hover {
    background-color: brown;
}